{
	"env": {
		"browser" : true,
		"commonjs": true,
		"es6": true,
		"node": true,
		"mocha" : true,
		"jest": true
	},
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended"
	],
	"parser": "babel-eslint",
	"parserOptions": {
		"sourceType": "module",
		"ecmaVersion": 2018,
		"ecmaFeatures": {
            "experimentalObjectRestSpread": true
        }
	},
	"rules": {
		"indent": 0,
		"quotes":[2, "single", {"avoidEscape": true, "allowTemplateLiterals": true}],
		"semi":["error","always"],
		"no-cond-assign":["error", "always"],
		"no-extra-boolean-cast": 0,
		"no-unused-vars": [1, {"args": "none"}],
		"no-mixed-spaces-and-tabs": "off",
		"react/prop-types": 0,
		"no-useless-escape": 0,
		"no-var": 2
	},
	"plugins": [
		"react"
	],
	"settings": {
		"react": {
			"createClass": "createReactClass",
			"pragma": "React",
			"version": "16.4.1"
		},
		"propWrapperFunctions": [
			"forbidExtraProps"
		]
	}
}
