*,
fieldset {
    box-sizing: border-box;
	font-family: 'Roboto', arial, helvetica, sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
}

html {
    background: #fff;
    color: #5d5d5d;
    position: relative;
}

.no-scroll {
    overflow: hidden;
}

p {
    line-height: 1.8rem;
    margin-bottom: 2rem;
}

span, strong, em {
    font-family: inherit;
    font-size: inherit;
}

.no-js-alert {
    display: block;
}

fieldset {
    border: 0;
    padding: 0;
}

details summary::marker,
details summary::-webkit-details-marker {
    display: none;
}
