@mixin serif() {
	font-family: $base-font-serif;
}

@mixin sans-serif() {
	font-family: $base-font-sans-serif;
}

@mixin weight-light() {
	font-weight: 300;
}

@mixin strong() {
	font-weight: 600;
}

@mixin semi-strong() {
	font-weight: 500;
}

@mixin text-center() {
	text-align: center;
}

@mixin text-left() {
	text-align: left;
}

@mixin text-right() {
	text-align: right;
}

@mixin flourish() {
	@include serif();
	font-style: italic;
	letter-spacing: normal;
}

@mixin script() {
	font-family: $base-font-script;
}

@mixin uppercase() {
	text-transform: uppercase;
}

@mixin lowercase() {
	text-transform: lowercase;
}

@mixin text-small() {
	font-size: rem($base-font-size * 0.9);
}

@mixin text-shadow() {
	text-shadow: 0 0 7px palette(primary, bodyText);
}
