@import 'assets/css/styles';

.timeline {
	align-items: center;
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;

	&:after {
		@include position-tl(0, center);
		background-color: #bcbcbb;
		content: '';
		display: block;
		height: 100%;
		width: rem(2px);
		z-index: 0;
	}

}

.timeline__year-marker {
	@include margin-b-lg();
	background: #ddd;
	border: 1px solid #bcbcbb;
	border-radius: 100%;
	padding: rem(19px) rem(12px);
	text-align: center;
	z-index: 1;
}