@import 'assets/css/styles';

.timeline {
	align-items: center;
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;

	&:after {
		@include position-tl(0, center);
		background-color: #dfdfdf;
		content: '';
		display: block;
		height: 100%;
		width: 3px;
		z-index: 0;
	}

}

.timeline__year-marker {
	@include strong();
	background: #fff;
	border: 3px solid #dfdfdf;
	border-radius: 100%;
	position: relative;
	text-align: center;
	z-index: 1;

	&:not(:last-of-type) {
		@include margin-b-lg();
	}

	&, & button {
		border-radius: 100%;
	}

	button {
		border: 0;
		padding: rem(19px) rem(12px);
	}

}

.timeline__year-marker--has-items {
	border-color: palette(primary, a);
}

.timeline__events {
	@include border-radius();
	@include box-shadow();
	@include padding();
	@include position-tr(0, 10px);
	background: #fff;
	text-align: left;
	transform: translateX(120%);
	width: 30vw;
}

.timeline__event-title {
	@include no-margin();
	@include strong();
}